:root{
    --background:#d8eefe;
    --tarjeta: #fffffe;

    --headline: #094067;
    --paragraph: #5f6c7b;

    --button: #3da9fc;
    --accent: #ef4565;
}

body{
    background-color: var(--background);
    font-family: 'Muli', sans-serif;
    color: var(--headline);
}

.tabla{
	background-color: var(--tarjeta) !important;
}

.btn-primary{
	background-color: var(--accent) !important;
	border: 0px !important;
}

h1{
	text-align: center;
	font-weight: 700;
}