<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>


</head>

<body>
	
	<form  th:action="@{/nuevoCentro}" method="post">
		<button type="submit" class="btn btn-primary"> Nuevo Centro</button>
	</form>
	
	<input type="hidden" id="opc" name="custId" value="3">
	<script type="text/javascript" src="js/tablas.js">
	</script>
	<table id="tabla" class="table table-striped">
  		<thead>
		    <tr>
		      <th scope="col">Accion</th>
		      <th scope="col">Codigo</th>
		      <th scope="col">Centro Escolar</th>
		      <th scope="col">Direccion</th>
		    </tr>
  		</thead>
	</table>
	
	
</body>
</html>