<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Nuevo Centro Escolar</title>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="../js/ejemplo.js"></script> 
<!--CUSTOM CSS-->
<link
	href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700;800;900&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="../styles/usuarios/usuario.css">
</head>
<body>
	<div class="container p-5">
		<h2>Nuevo Centro Escolar.</h2>
		<form th:action="@{/formNuevoCentro}" method="post" th:object="${centroEscolar}">

			<div class="form-group">
				<label for="inputNombre">Nombre</label> <input type="text"
					class="form-control" id="inputNombre"
					th:field="${centroEscolar.CentroEscolarName}">
					<span th:errors="*{CentroEscolarName}" style="color: #FF0000"></span>
			</div>

			<div class="form-group">
				<label for="inputDir">Direccion</label> <input type="text"
					class="form-control" id="inputDir" th:field="*{direccion}">
				<span th:errors="*{direccion}" style="color: #FF0000"></span>
			</div>


			<div class="form-group">
				<label for="inputDepa">Departamento</label> <select id="inputDepa"
					class="form-control"
					th:field="*{municipio.departamento.departamentoID}">
					<option th:each="depa : ${departamentos}"
						th:value=${depa.departamentoID} th:text="${depa.departamentoName}" />
				</select>
			</div>

			<div class="form-group">
				<label for="inputMuni">Municipio</label> <select id="inputMuni"
					class="form-control" th:field="*{municipio.municipioID}">
					<option th:each="muni : ${municipios}" th:value=${muni.municipioID}
						th:text="${muni.municipioName}" />
				</select>
			</div>
			<div class="d-flex">
				<button class="btn btn-primary" type="submit">Submit form</button>
				<input type="reset" class="btn btn-info boton-regresar"/>
				<a class="btn btn-warning boton-regresar" href="/centros">Regresar</a>
			</div>
			
		</form>
	</div>
</body>
</html>